@model dynamic
@{
    ViewData["Title"] = "Bill Details";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Bill Details</h3>
                    <div class="card-tools">
                        <a href="@Url.Action("Index", "VendorBills")" class="btn btn-secondary">
                            <i class="fa-solid fa-arrow-left me-1"></i>Back to Bills
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Bill Information</h5>
                            <table class="table table-borderless">
                                <tr>
                                    <td><strong>Bill ID:</strong></td>
                                    <td>@Model.Bill.BillId</td>
                                </tr>
                                <tr>
                                    <td><strong>Bill Number:</strong></td>
                                    <td>@Model.Bill.BillNumber</td>
                                </tr>
                                <tr>
                                    <td><strong>Vendor:</strong></td>
                                    <td>@Model.Bill.VendorName</td>
                                </tr>
                                <tr>
                                    <td><strong>Bill Date:</strong></td>
                                    <td>@Model.Bill.BillDate.ToString("dd-MM-yyyy")</td>
                                </tr>
                                <tr>
                                    <td><strong>Total Amount:</strong></td>
                                    <td>@Model.Bill.TotalPayableAmount.ToString("N2")</td>
                                </tr>
                                @if (Model.Bill.PaidAmount > 0)
                                {
                                    <tr>
                                        <td><strong>Paid Amount:</strong></td>
                                        <td>@Model.Bill.PaidAmount.ToString("N2")</td>
                                    </tr>
                                }
                                @if (Model.Bill.DueAmount > 0)
                                {
                                    <tr>
                                        <td><strong>Due Amount:</strong></td>
                                        <td>@Model.Bill.DueAmount.ToString("N2")</td>
                                    </tr>
                                }
                            </table>
                        </div>
                        <div class="col-md-6">
                            <h5>Actions</h5>
                            <div class="btn-group-vertical w-100">
                                <a href="@Url.Action("PrintReceipt", "VendorBills", new { id = Model.Bill.BillId, merchantCopy = false })" 
                                   class="btn btn-primary mb-2" target="_blank">
                                    <i class="fa-solid fa-print me-1"></i>Print Vendor Copy
                                </a>
                                <a href="@Url.Action("PrintReceipt", "VendorBills", new { id = Model.Bill.BillId, merchantCopy = true })" 
                                   class="btn btn-success mb-2" target="_blank">
                                    <i class="fa-solid fa-store me-1"></i>Print Merchant Copy
                                </a>
                                <a href="@Url.Action("Edit", "VendorBills", new { id = Model.Bill.BillId })" 
                                   class="btn btn-warning mb-2">
                                    <i class="fa-solid fa-edit me-1"></i>Edit Bill
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row mt-4">
                        <div class="col-12">
                            <h5>Bill Items</h5>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Sr#</th>
                                            <th>Product</th>
                                            <th>Quantity</th>
                                            <th>Unit Price</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.BillItems != null && Model.BillItems.Count > 0)
                                        {
                                            int srNo = 1;
                                            @foreach (var item in Model.BillItems)
                                            {
                                                <tr>
                                                    <td>@srNo</td>
                                                    <td>@item.ProductName</td>
                                                    <td>@item.Quantity</td>
                                                    <td>@item.UnitPrice.ToString("N2")</td>
                                                    <td>@item.PayableAmount.ToString("N2")</td>
                                                </tr>
                                                srNo++;
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="5" class="text-center">No items found</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Auto-print functionality when coming from saveAndPrint
    window.onload = function() {
        @if (ViewBag.Print == true)
        {
            <text>
            // Auto-print both vendor and merchant copies in separate tabs
            setTimeout(function() {
                // Open vendor copy in new tab and print
                const vendorUrl = '@Url.Action("PrintReceipt", "VendorBills", new { id = Model.Bill.BillId, merchantCopy = false, autoPrint = false })' + '?print=true';
                const vendorWindow = window.open(vendorUrl, '_blank');
                
                // Open merchant copy in another new tab after a delay
                setTimeout(function() {
                    const merchantUrl = '@Url.Action("PrintReceipt", "VendorBills", new { id = Model.Bill.BillId, merchantCopy = true, autoPrint = false })' + '?print=true';
                    const merchantWindow = window.open(merchantUrl, '_blank');
                    
                    // Show notification
                    if (typeof showSuccessMessage === 'function') {
                        showSuccessMessage('Both Vendor Copy and Merchant Copy have been opened in separate tabs!');
                    } else {
                        alert('Both Vendor Copy and Merchant Copy have been opened in separate tabs!');
                    }
                }, 1000);
            }, 500);
            </text>
        }
    };
</script>


