@using System.Globalization
@model IMS.Models.ProductViewModel;
<div class="table-responsive">
    <table class="table table-striped table-bordered custom-table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Product Code</th>
            <th>Price</th>
            <th>Category</th>
            <th>Label</th>
            <th>Measuring Unit</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
            @if (Model.Items.Count>0)
            {
                @foreach (var product in Model.Items)
                {
                    <tr>
                        <td>@product.ProductName</td>
                        <td>@product.ProductCode</td>
                        <td>@product.Price?.ToString("C", new CultureInfo("ur-PK"))</td>
                        <td>@product.CategoryName</td>
                        <td>@product.LabelName</td>
                        <td>@product.MeasuringUnitTypeName</td>
                        <td>@(product.IsEnabled)</td>
                        <td class="table-actions">
                            <div class="btn-group" role="group">
                                <a asp-action="Details" asp-route-id="@product.ProductId" class="btn btn-sm btn-outline-info" title="View Details">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                                <a asp-action="Edit" asp-route-id="@product.ProductId" class="btn btn-sm btn-outline-warning" title="Edit Product">
                                    <i class="fa-solid fa-edit"></i>
                                </a>
                                <a asp-action="Delete" asp-route-id="@product.ProductId" class="btn btn-sm btn-outline-danger" title="Delete Product">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            }
        
    </tbody>
</table>
</div>
<div id="pagingGrid" class="d-flex justify-content-between align-items-center mt-3">
    <span class="text-muted">Total Items : @Model.TotalCount | Showing @Model.PageSize Items per page</span>
    @if (Model.TotalPages > 1)
    {
        <nav aria-label="User pagination">
            <ul class="pagination justify-content-center">
                <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                    <a class="page-link" asp-action="GetFilteredProducts" asp-route-pageNumber="1"
                       asp-route-pageSize="@Model.PageSize">First</a>
                </li>
                <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                    <a class="page-link" asp-action="GetFilteredProducts" asp-route-pageNumber="@(Model.CurrentPage - 1)" asp-route-pageSize="@Model.PageSize">Previous</a>
                </li>
                @{
                    int startPage = Math.Max(1, Model.CurrentPage - 1);
                    int endPage = Math.Min(Model.TotalPages, startPage + 2);
                    if (endPage - startPage < 2)
                    {
                        startPage = Math.Max(1, endPage - 2);
                    }

                }
                @for (int i = startPage; i <= endPage; i++)
                {
                    <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                        <a class="page-link" asp-action="GetFilteredProducts" asp-route-pageNumber="@i" asp-route-pageSize="@Model.PageSize">@i</a>
                    </li>
                }
                <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                    <a class="page-link" asp-action="GetFilteredProducts" asp-route-pageNumber="@(Model.CurrentPage + 1)" asp-route-pageSize="@Model.PageSize">Next</a>
                </li>
                <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                    <a class="page-link" asp-action="GetFilteredProducts" asp-route-pageNumber="@Model.TotalPages" asp-route-pageSize="@Model.PageSize">Last</a>
                </li>
            </ul>
        </nav>
    }
</div>